body {
  font-family: "Oxanium", cursive;
  background: url(../img/circles-light.png);
  margin:0;
}

h1,h2 {
  margin-top: 0;
}

.container {
  padding: 1rem 4rem;
  width: 600px;
  margin:0 auto;
}

.board-wrapper {
  display:flex;
}

.board {
  width: 600px;
  box-shadow: 1px 1px 8px 0px black;
}

.row {
  display: flex;
}

.piece {
  font-size: 50;
}

.cell {
  width: 12.5%;
  background: #e6ccab;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.cell svg {
  font-size: 52px;
  transition: width 0.25s;
}

.cell svg.turn {
  cursor: pointer;
}

.cell.expanded svg.turn {
  font-size: 62px;
}

.cell svg.turn:hover {
  font-size: 62px;
}

.cell svg.white {
  color: #fffdfb;
  text-shadow: 0 0 3px #000;
}

.cell.black {
  background: #9d571b;
}

.cell.expanded {
  background:#e8e699;
}

.cell .fa-circle {
  font-size: 22px;
  color: #000000;
  opacity: 0.3;
  position:absolute;
}

.cell.target-move {
  cursor:pointer;
}

.scoreboard {
  display: flex;
  width: 160px;
  background: #cecece;
  box-shadow: 1px 1px 4px 0px #868686;
  margin-bottom: 1rem;
  border-radius: 5px;
  float: right;
  justify-content: center;
  flex-wrap: wrap;
  padding:5px;
}

.scoreboard div {
  display:flex;
  justify-content:center;
  width:50%;
  margin-top:5px;
}

.scoreboard .arrow {
  position:relative;
  right:9px;
}


.score svg {
  font-size: 1.5em;
}

.score .number {
  font-size: 18px;
  padding-left: 5px;
  position: relative;
  top: 4px;
  left: 3px;
}

.score.white svg {
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-label {
  height:75px;
  display:flex;
  align-items:center;
  width:25px;
  font-weight: bold;
  font-size:22px;
}

.column-labels {
  display:flex;
  margin-top:10px;
  margin-left:25px;
}

.column-label {
  display:flex;
  justify-content: center;
  width:75px;
  font-weight: bold;
  font-size:22px;
}

.modal {
  position: fixed;
  display:none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  background: #ffffff;
  z-index: 10000;
  overflow: visible;
  padding: 2rem;
  width: 14%;
  border: 2px solid black;
  border-radius: 2px;
  opacity: 0.8;
}

.modal.show {
  display:block;
}

.promotion {
  display:flex;
  flex-wrap: wrap;
}

.promotion .promotion-piece {
  width:50%;
  display:flex;
  justify-content:center;
}

.promotion h2 {
  margin:0 auto;
}

.promotion svg {
  font-size:52px;
  padding:1rem;
  cursor:pointer;
}

.modal.white {
  background:black;
  border:2px solid white;
}

.modal h1,.modal h2 {
  margin: 0 auto;
}

.white .promotion svg,.white .promotion h2 {
  color:white;
}

.body-overlay.active {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  .container {
    width:100%;
    padding:0;
  }
  
  .header {
    padding:13px;
  }

  .score svg {
      font-size: 20px;
  }
  .score .number {
    font-size: 15px;
  }

  .board-wrapper {
    margin-left: 6px;
  }

  .row-label {
    height: 42px;
    width: 18px;
    font-size: 15px;
  }

  .board {
    width: 336px;
  }

  .cell {
    height: 42px;
  }

  .cell svg {
    font-size: 31px;
  }

  .arrow svg {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .scoreboard {
    width:96px;
  }

  .scoreboard .arrow {
    right:7px;
  }

  .column-labels {
    margin-left: 24px;
  }

  .column-label {
    width: 42px;
    font-size: 15px;
  }

  .cell svg.turn:hover {
    font-size: 34px;
  }

  .cell .fa-circle {
    font-size:13px;
  }

  
 }